## Answer 1

In [4]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
a

6

Explanation :- Here , a is defined as global variable . So , when function b is called it will take the value of a as defined in fucntion c. So it will add 2 in 0. So , the value of a will be 2. Then we are again calling function b , so it will again add 2 in the value of a . So , The value of A will be 4 . And in the third step the value of a will be 6. So , at the last step it will print the value of a as 6.So ,here variable a has global scope.

## Answer 2

In [13]:
def fileLength(filename):
    
    try:
        with open(filename) as f:
            print(len(f.readlines()))
              
    except:
        print("The file doesn't exist or it is not in readable format." )
fileLength('bloodtype1.txt')
fileLength('oodtype1.txt')

1
The file doesn't exist or it is not in readable format.

## Answer 3

In [7]:
class Marsupial:
   
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, content):
        self.pouch.append(content)
        
    def pouch_contents(self):
        return(self.pouch)
    
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, x, y):
        self.x += x
        self.y += y
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

## Answer 4

In [16]:
from tkinter import *
root = Tk()



class Mortgage(Frame):

    def __init__(self, master):
        
        Frame.__init__(self, master)
        labelLoanAmt =Label(self,padx=15,text= 'Loan Amount:')
        labelLoanAmt.grid(row=1, column=0, columnspan=4)
        entryLoanAmt= Entry(self)
        entryLoanAmt.grid(row=1, column=4, columnspan=4)


        labelIntRate =Label(self,padx=15,text= 'Interest Rate:')
        labelIntRate.grid(row=2, column=0, columnspan=4)
        entryIntRate= Entry(self)
        entryIntRate.grid(row=2, column=4, columnspan=4)


        labelLoanTerm =Label(self,padx=15,text= 'Loan Terms:')
        labelLoanTerm.grid(row=3, column=0, columnspan=4)
        entryLoanTerm= Entry(self)
        entryLoanTerm.grid(row=3, column=4, columnspan=4)


        buttonComMortage =Button(self,padx=15,text= 'Compute Mortgage')
        buttonComMortage.grid(row=4, column=0, columnspan=4)
        entryComMortage= Entry(self)
        entryComMortage.grid(row=4, column=4, columnspan=4)
        
class Calculator(Frame):

    def __init__(self, master):
        Frame.__init__(self, master)
        entryLoanAmount= Entry(self)
        entryLoanAmount.grid(row=0, column=0, columnspan=4)

        numbers = [['MC',  'M+', 'M-', 'MR'],
           ['C', '\u221A','x\u00b2','+'],
           ['7','8','9','-'],
           ['4', '5','6','*'],
           ['1','2', '3', '/'],
           ['0', '.', '+-', '=']
          ]
        for r in range(6):
            for c in range(4):
                button= Button(self,padx=10,width=5,text= numbers[r][c])
                button.grid(row=r+1, column=c)
                
mortgage = Mortgage(root)
mortgage.pack(side=LEFT)

calculator = Calculator(root)
calculator.pack(side=RIGHT)


root.mainloop()

## Answer 5

In [8]:
  def collatz(n): 

    while n != 1: 
        print(n, end = '\n') 
  
        if n & 1: 
            n = 3 * n + 1

        else: 
            n = n // 2
 
    print(n) 
print('Taking n=1')
collatz(1)
print('Taking n=10')
collatz(10)

Taking n=1
1
Taking n=10
10
5
16
8
4
2
1

## Answer 6

In [29]:
def binary(n): 
    if n == 0: 
        return 0
    else: 
        return (n % 2 + 10 * binary(int(n // 2)))
                 


print(binary(n))
binary(9)
binary(0)

1001

0

## Answer 7

In [3]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.headingTag=""
    
    def handle_starttag(self,tag,attrs):
        self.headingTag=tag
        
    def handle_data(self, data):
        if(self.headingTag=="h1"):
            print(data)
            self.headingTag=""
        elif(self.headingTag=="h2"):
            print(' ' *1,data)
            self.headingTag=""
        elif(self.headingTag=="h3"):
            print(' ' * 2,data)
            self.headingTag=""
        elif(self.headingTag=="h4"):
            print(' ' * 3,data)
            self.headingTag=""
        elif(self.headingTag=="h5"):
            print(' ' * 4,data)
            self.headingTag=""
        elif(self.headingTag=="h6"):
            print(' ' * 5,data)
            self.headingTag=""
      
                    
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

## Answer 8

In [6]:
from urllib.request import urlopen
def getLinkfromWeb(url):
    print('\nvisting ',url)
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls=collector.getLinks()
    
    return urls

def webdir(url,depth,indent):
    print(indent*" " + url)

    if(depth == 0):
        return

    for i in getLinkfromWeb(url):
        webdir(i, depth-1, indent+1)
        
webdir("http://www.nytimes.com/", 2, 0)

# Got stuck here at this step.

http://www.nytimes.com/

visting  http://www.nytimes.com/

NameError: name 'Collector' is not defined

## Answer 9

In [4]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather_data (City text,Country text,Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
con.commit()
con.close()

### Query a)

In [6]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM Weather_data')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### Query b)

In [7]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute('SELECT DISTINCT City FROM Weather_data')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

### Query c)

In [8]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather_data WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### Query d)

In [9]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather_data WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Query e)

In [11]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT City,Country,Season,Rainfall FROM Weather_data WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

### Query f)

In [1]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT City,Country FROM Weather_data WHERE Season='Fall' AND Temperature >= 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### Query g)

In [15]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM Weather_data WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

### Query h)

In [17]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM Weather_data")
cur.fetchall()

[(2697.8999999999996,)]

## Answer 10

In [1]:
def Upper(words):
    for i in range(len(words)):
        words[i]=words[i].upper()
    return words

def Lower(words):
    for i in range(len(words)):
        words[i]=words[i].lower()
    return words

def Length(words):
    list=[]
    for i in range(len(words)):
        list.append(len(words[i]))
    return list

def Low_Up_Len(words):
    list=[]
    temp=[]
    for i in range(len(words)):
        temp.append(words[i].upper())
        temp.append(words[i].lower())
        temp.append(len(words[i]))
        list.append(temp)
        temp=[]
    return list

def more_four(words):
    list=[]
    for i in range(len(words)):
        if len(words[i])>=4:       
            list.append(words[i])
    return list

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("List in Uppercase: ",Upper(words))
print("List in Lowercase: ",Lower(words))
print("List lengths: ",Length(words))
print("List of Upper Lower and length: ",Low_Up_Len(words))
print("List having 4 ot more than 4 character: ",more_four(words))

List in Uppercase:  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
List in Lowercase:  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
List lengths:  [3, 5, 5, 3, 5, 4, 3, 4, 3]
List of Upper Lower and length:  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
List having 4 ot more than 4 character:  ['quick', 'brown', 'jumps', 'over', 'lazy']